@charset "utf-8";

form {
    width: 400px;
    padding: 40px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(216, 236, 237);
    text-align: center;
    border-radius: 0.5em;
  }

.login_form_btm{
    padding: 10px 0;
    border:5px solid whitesmoke;
    margin: 10px 0;
    border-radius: 0.5em;
    opacity: 0.9;
  }

form h1,form p{
    color: #555;
    font-weight: 500;
}
  
input{
    width: 200px;
    padding: 3px;
    margin: 5px 0;
}

button{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #ff69b4;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;  
    font-weight: 800;  
}

form input[type = "id"],form input[type = "password"],form input[type = "text"],form input[type = "email"] {
    border: 0;
    background: none;
    display: block;
    margin: 0.1em auto;
    border: 2px solid #ff69b4;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
  }
  
form input[type = "id"]:focus,form input[type = "password"]:focus,form input[type = "text"]:focus,form input[type = "email"]:focus{
    width: 280px;
    background-color: #f0f8ff;
}
  
form input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #f0f8ff;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
}
  
form input[type = "submit"]:hover,button:hover{
    background-color: #ff69b4;
    border: 2px solid #ff69b4;
    color:white;
}